# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars # Include this for dev if you want, but usually ignored for prod
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
